/*.log
/target
/*-init.clj
/resources/common/public/js/compiled
/dist/
out
.nrepl-port
logs/
pom.xml
pom.xml.asc
*.jar
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
*.DS_Store
node_modules/
.tern-port
/.idea
*.iml
.clj-kondo/.cache
.eastwood
.shadow-cljs/
.env-vars.edn
